* {
	background: none;
	border: 0;
	font-weight: normal;
	margin: 0;
	padding: 0;
}




#main {
	height: 283px;
	width: 310px;
	margin: 0;
}

#main .nano {
	text-shadow: #eee 0 1px;
}

#main pre {
	background: #222;
	border-bottom: 1px solid white;
	border-top: 1px solid black;
	-webkit-box-shadow: black 0 1px 10px inset;
	-moz-box-shadow: black 0 1px 10px inset;
	box-shadow: black 0 1px 10px inset;
	text-shadow: black 0 -1px 1px;
}



#main code {
}

#main p code {
	background: #222;
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 11px;
	text-shadow: none;
	color: #ee8;
	padding: 0 3px 0;
	border-bottom: 1px solid #eee;
	-webkit-box-shadow: #000 0 2px 3px inset;
	-moz-box-shadow: #000 0 2px 3px inset;
	box-shadow: #000 0 2px 3px inset;
	text-shadow: black 0 -1px 1px;
}

.small.nano {
	background: #ffa;
	height: 100px;
	margin-top: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
