<div class="main col1-set">
   <div  class="inner clearfix" style="height:904px;">
      <div class="box jm-tabs">
         <div>
            <div class="jm-tabswrap jm-animation-fadeIn blank">
               <div class="container">
                  <div class="tabs_content">
                     <div class="jm-tab-panels-top">
                        <div  class="jm-tab-content">
                           <div class="jm-tab-subcontent">
                              <div class="block jm-products-slider-listing">
                                 <div class="jm-products-slider-content clearfix block-content">
                                    <div class="jm-slider">
                                       <ul class="jm-slider-ul products-grid first odd">
                                          <li class="jm-slider-li item" style=" width:260px; height:410px; margin-bottom:20px;">
                                             <div class="item-slider">
                                                <div class="product-image">
                                                   <a href="" class="product-img">
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   </a>
                                                   <div class="actions">
                                                   </div>
                                                </div>
                                                <div class="product-name">
                                                   <a href="" title="Top Secret  Destinations" class="product-title">
                                                   Top Secret  Des...
                                                   </a>
                                                </div>
                                                <div class="author">
                                                   Mary Higgins Clark
                                                </div>
                                                <div class="ratings">
                                                   <div class="rating-box">
                                                      <div class="rating">
                                                      </div>
                                                   </div>
                                                   <p class="rating-links">
                                                      <a href="">
                                                      0 Review
                                                      </a>
                                                      <span class="separator">
                                                      |
                                                      </span>
                                                      <a href="">
                                                      Add Your Review
                                                      </a>
                                                   </p>
                                                </div>
                                                <div class="price-box">
                                                   <span id="product-price-12_jmslider" class="regular-price">
                                                   <span class="price">
                                                   $30.00
                                                   </span>
                                                   </span>
                                                </div>
                                                <div class="add-to-links">
                                                   <div>
                                                      <a class="link-wishlist" href="">
                                                      Wishlist
                                                      </a>
                                                   </div>
                                                   <div>
                                                      <a class="link-compare" href="/">
                                                      Compare
                                                      </a>
                                                   </div>
                                                </div>
                                                <div class="add-to-cart">
                                                   <button onClick="" class="button btn-cart" title="" type="button">
                                                   <span>
                                                   <span>
                                                   <i class="icon-shopping-cart">
                                                   </i>
                                                   Add to Cart
                                                   </span>
                                                   </span>
                                                   </button>
                                                </div>
                                             </div>
                                          </li>
                                          <li class="jm-slider-li item" style=" width:260px; height:410px; margin-bottom:20px">
                                             <div class="item-slider">
                                                <div class="product-image">
                                                   <a href="" class="product-img">
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   </a>
                                                   <div class="actions">
                                                   </div>
                                                </div>
                                                <div class="product-name">
                                                   <a href="" title="Top Secret  Destinations" class="product-title">
                                                   Top Secret  Des...
                                                   </a>
                                                </div>
                                                <div class="author">
                                                   Mary Higgins Clark
                                                </div>
                                                <div class="ratings">
                                                   <div class="rating-box">
                                                      <div class="rating">
                                                      </div>
                                                   </div>
                                                   <p class="rating-links">
                                                      <a href="">
                                                      0 Review
                                                      </a>
                                                      <span class="separator">
                                                      |
                                                      </span>
                                                      <a href="">
                                                      Add Your Review
                                                      </a>
                                                   </p>
                                                </div>
                                                <div class="price-box">
                                                   <span id="product-price-12_jmslider" class="regular-price">
                                                   <span class="price">
                                                   $30.00
                                                   </span>
                                                   </span>
                                                </div>
                                                <div class="add-to-links">
                                                   <div>
                                                      <a class="link-wishlist" href="">
                                                      Wishlist
                                                      </a>
                                                   </div>
                                                   <div>
                                                      <a class="link-compare" href="/">
                                                      Compare
                                                      </a>
                                                   </div>
                                                </div>
                                                <div class="add-to-cart">
                                                   <button onClick="" class="button btn-cart" title="" type="button">
                                                   <span>
                                                   <span>
                                                   <i class="icon-shopping-cart">
                                                   </i>
                                                   Add to Cart
                                                   </span>
                                                   </span>
                                                   </button>
                                                </div>
                                             </div>
                                          </li>
                                          <li class="jm-slider-li item" style=" width:260px; height:410px; margin-bottom:20px;">
                                             <div class="item-slider">
                                                <div class="product-image">
                                                   <a href="" class="product-img">
                                                      <div style=" margin:0 auto; width:170px; height:240px;">
                                                         <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent" style=" width:48%;" />
                                                         <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent" style=" width:48%;" />
                                                         <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent" style=" width:48%;"  />
                                                         <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent" style=" width:48%;" />
                                                      </div>
                                                   </a>
                                                   <div class="actions">
                                                   </div>
                                                </div>
                                                <div class="product-name">
                                                   <a href="" title="Top Secret  Destinations" class="product-title">
                                                   Top Secret  Des...
                                                   </a>
                                                </div>
                                                <div class="author">
                                                   Mary Higgins Clark
                                                </div>
                                                <div class="ratings">
                                                   <div class="rating-box">
                                                      <div class="rating">
                                                      </div>
                                                   </div>
                                                   <p class="rating-links">
                                                      <a href="">
                                                      0 Review
                                                      </a>
                                                      <span class="separator">
                                                      |
                                                      </span>
                                                      <a href="">
                                                      Add Your Review
                                                      </a>
                                                   </p>
                                                </div>
                                                <div class="price-box">
                                                   <span id="product-price-12_jmslider" class="regular-price">
                                                   <span class="price">
                                                   $30.00
                                                   </span>
                                                   </span>
                                                </div>
                                                <div class="add-to-links">
                                                   <div>
                                                      <a class="link-wishlist" href="">
                                                      Wishlist
                                                      </a>
                                                   </div>
                                                   <div>
                                                      <a class="link-compare" href="/">
                                                      Compare
                                                      </a>
                                                   </div>
                                                </div>
                                                <div class="add-to-cart">
                                                   <button onClick="" class="button btn-cart" title="" type="button">
                                                   <span>
                                                   <span>
                                                   <i class="icon-shopping-cart">
                                                   </i>
                                                   Add to Cart
                                                   </span>
                                                   </span>
                                                   </button>
                                                </div>
                                             </div>
                                          </li>
                                          <li class="jm-slider-li item" style=" width:260px; height:410px; margin-bottom:20px;">
                                             <div class="item-slider">
                                                <div class="product-image">
                                                   <a href="" class="product-img">
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   </a>
                                                   <div class="actions">
                                                   </div>
                                                </div>
                                                <div class="product-name">
                                                   <a href="" title="Top Secret  Destinations" class="product-title">
                                                   Top Secret  Des...
                                                   </a>
                                                </div>
                                                <div class="author">
                                                   Mary Higgins Clark
                                                </div>
                                                <div class="ratings">
                                                   <div class="rating-box">
                                                      <div class="rating">
                                                      </div>
                                                   </div>
                                                   <p class="rating-links">
                                                      <a href="">
                                                      0 Review
                                                      </a>
                                                      <span class="separator">
                                                      |
                                                      </span>
                                                      <a href="">
                                                      Add Your Review
                                                      </a>
                                                   </p>
                                                </div>
                                                <div class="price-box">
                                                   <span id="product-price-12_jmslider" class="regular-price">
                                                   <span class="price">
                                                   $30.00
                                                   </span>
                                                   </span>
                                                </div>
                                                <div class="add-to-links">
                                                   <div>
                                                      <a class="link-wishlist" href="">
                                                      Wishlist
                                                      </a>
                                                   </div>
                                                   <div>
                                                      <a class="link-compare" href="/">
                                                      Compare
                                                      </a>
                                                   </div>
                                                </div>
                                                <div class="add-to-cart">
                                                   <button onClick="" class="button btn-cart" title="" type="button">
                                                   <span>
                                                   <span>
                                                   <i class="icon-shopping-cart">
                                                   </i>
                                                   Add to Cart
                                                   </span>
                                                   </span>
                                                   </button>
                                                </div>
                                             </div>
                                          </li>
                                          <li class="jm-slider-li item" style=" width:260px; height:410px; margin-bottom:20px;">
                                             <div class="item-slider">
                                                <div class="product-image">
                                                   <a href="" class="product-img">
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   </a>
                                                   <div class="actions">
                                                   </div>
                                                </div>
                                                <div class="product-name">
                                                   <a href="" title="Top Secret  Destinations" class="product-title">
                                                   Top Secret  Des...
                                                   </a>
                                                </div>
                                                <div class="author">
                                                   Mary Higgins Clark
                                                </div>
                                                <div class="ratings">
                                                   <div class="rating-box">
                                                      <div class="rating">
                                                      </div>
                                                   </div>
                                                   <p class="rating-links">
                                                      <a href="">
                                                      0 Review
                                                      </a>
                                                      <span class="separator">
                                                      |
                                                      </span>
                                                      <a href="">
                                                      Add Your Review
                                                      </a>
                                                   </p>
                                                </div>
                                                <div class="price-box">
                                                   <span id="product-price-12_jmslider" class="regular-price">
                                                   <span class="price">
                                                   $30.00
                                                   </span>
                                                   </span>
                                                </div>
                                                <div class="add-to-links">
                                                   <div>
                                                      <a class="link-wishlist" href="">
                                                      Wishlist
                                                      </a>
                                                   </div>
                                                   <div>
                                                      <a class="link-compare" href="/">
                                                      Compare
                                                      </a>
                                                   </div>
                                                </div>
                                                <div class="add-to-cart">
                                                   <button onClick="" class="button btn-cart" title="" type="button">
                                                   <span>
                                                   <span>
                                                   <i class="icon-shopping-cart">
                                                   </i>
                                                   Add to Cart
                                                   </span>
                                                   </span>
                                                   </button>
                                                </div>
                                             </div>
                                          </li>
                                          <li class="jm-slider-li item" style=" width:260px; height:410px; margin-bottom:20px">
                                             <div class="item-slider">
                                                <div class="product-image">
                                                   <a href="" class="product-img">
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   </a>
                                                   <div class="actions">
                                                   </div>
                                                </div>
                                                <div class="product-name">
                                                   <a href="" title="Top Secret  Destinations" class="product-title">
                                                   Top Secret  Des...
                                                   </a>
                                                </div>
                                                <div class="author">
                                                   Mary Higgins Clark
                                                </div>
                                                <div class="ratings">
                                                   <div class="rating-box">
                                                      <div class="rating">
                                                      </div>
                                                   </div>
                                                   <p class="rating-links">
                                                      <a href="">
                                                      0 Review
                                                      </a>
                                                      <span class="separator">
                                                      |
                                                      </span>
                                                      <a href="">
                                                      Add Your Review
                                                      </a>
                                                   </p>
                                                </div>
                                                <div class="price-box">
                                                   <span id="product-price-12_jmslider" class="regular-price">
                                                   <span class="price">
                                                   $30.00
                                                   </span>
                                                   </span>
                                                </div>
                                                <div class="add-to-links">
                                                   <div>
                                                      <a class="link-wishlist" href="">
                                                      Wishlist
                                                      </a>
                                                   </div>
                                                   <div>
                                                      <a class="link-compare" href="/">
                                                      Compare
                                                      </a>
                                                   </div>
                                                </div>
                                                <div class="add-to-cart">
                                                   <button onClick="" class="button btn-cart" title="" type="button">
                                                   <span>
                                                   <span>
                                                   <i class="icon-shopping-cart">
                                                   </i>
                                                   Add to Cart
                                                   </span>
                                                   </span>
                                                   </button>
                                                </div>
                                             </div>
                                          </li>
                                          <li class="jm-slider-li item" style=" width:260px; height:410px; margin-bottom:20px;">
                                             <div class="item-slider">
                                                <div class="product-image">
                                                   <a href="" class="product-img">
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   </a>
                                                   <div class="actions">
                                                   </div>
                                                </div>
                                                <div class="product-name">
                                                   <a href="" title="Top Secret  Destinations" class="product-title">
                                                   Top Secret  Des...
                                                   </a>
                                                </div>
                                                <div class="author">
                                                   Mary Higgins Clark
                                                </div>
                                                <div class="ratings">
                                                   <div class="rating-box">
                                                      <div class="rating">
                                                      </div>
                                                   </div>
                                                   <p class="rating-links">
                                                      <a href="">
                                                      0 Review
                                                      </a>
                                                      <span class="separator">
                                                      |
                                                      </span>
                                                      <a href="">
                                                      Add Your Review
                                                      </a>
                                                   </p>
                                                </div>
                                                <div class="price-box">
                                                   <span id="product-price-12_jmslider" class="regular-price">
                                                   <span class="price">
                                                   $30.00
                                                   </span>
                                                   </span>
                                                </div>
                                                <div class="add-to-links">
                                                   <div>
                                                      <a class="link-wishlist" href="">
                                                      Wishlist
                                                      </a>
                                                   </div>
                                                   <div>
                                                      <a class="link-compare" href="/">
                                                      Compare
                                                      </a>
                                                   </div>
                                                </div>
                                                <div class="add-to-cart">
                                                   <button onClick="" class="button btn-cart" title="" type="button">
                                                   <span>
                                                   <span>
                                                   <i class="icon-shopping-cart">
                                                   </i>
                                                   Add to Cart
                                                   </span>
                                                   </span>
                                                   </button>
                                                </div>
                                             </div>
                                          </li>
                                          <li class="jm-slider-li item" style=" width:260px; height:410px; margin-bottom:20px;">
                                             <div class="item-slider">
                                                <div class="product-image">
                                                   <a href="" class="product-img">
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                   </a>
                                                   <div class="actions">
                                                   </div>
                                                </div>
                                                <div class="product-name">
                                                   <a href="" title="Top Secret  Destinations" class="product-title">
                                                   Top Secret  Des...
                                                   </a>
                                                </div>
                                                <div class="author">
                                                   Mary Higgins Clark
                                                </div>
                                                <div class="ratings">
                                                   <div class="rating-box">
                                                      <div class="rating">
                                                      </div>
                                                   </div>
                                                   <p class="rating-links">
                                                      <a href="">
                                                      0 Review
                                                      </a>
                                                      <span class="separator">
                                                      |
                                                      </span>
                                                      <a href="">
                                                      Add Your Review
                                                      </a>
                                                   </p>
                                                </div>
                                                <div class="price-box">
                                                   <span id="product-price-12_jmslider" class="regular-price">
                                                   <span class="price">
                                                   $30.00
                                                   </span>
                                                   </span>
                                                </div>
                                                <div class="add-to-links">
                                                   <div>
                                                      <a class="link-wishlist" href="">
                                                      Wishlist
                                                      </a>
                                                   </div>
                                                   <div>
                                                      <a class="link-compare" href="/">
                                                      Compare
                                                      </a>
                                                   </div>
                                                </div>
                                                <div class="add-to-cart">
                                                   <button onClick="" class="button btn-cart" title="" type="button">
                                                   <span>
                                                   <span>
                                                   <i class="icon-shopping-cart">
                                                   </i>
                                                   Add to Cart
                                                   </span>
                                                   </span>
                                                   </button>
                                                </div>
                                             </div>
                                          </li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<style>
   .product-togeter{
   width:100%;
   height:auto ;
   padding:0 0 0 5px;
   margin:0;
   }
   .product-togeter ul{
   width:100%;
   height:auto ;
   padding:0;
   margin:0;
   }
   .product-togeter li.list-Product-item{
   float:left;
   width:280px;
   height:280px;
   margin:0 5px 0 5px;
   }
   .product-togeter li a {
   float:left;
   width:280px;
   height:280px;
   margin:0 }
   .productImagesClassContent{
   width:32%;
   }
   .productImagesClassContentItem{
   width:60px;
   height:80px;
   }
   .productImagesClassContent1{
   width:47%;
   height:47%;
   }
   #first-containnor{
   opcity:1;
   width:358px;
   }
</style>
<!-- //TOP SPOTLIGHT 2 -->
<!-- BEGIN: MAIN CONTAINER -->
<div id="jm-container" class="jm-lo-2colsl jm-col-left not-breadcrumbs wrap clearfix">
   <div class="main clearfix">
      <div id="jm-mainbody" class="clearfix">
         <!-- BEGIN: CONTENT -->
         <div style="" id="jm-main">
            <div class="inner minner clearfix">
               <div id="jm-current-content" class="clearfix">
                  <!-- //TOP SPOTLIGHT 3 -->
                  <div id="jm-tops3" class="jm-position clearfix">
                     <div class="col1-set">
                        <script type="text/javascript" src="js/jquery.jcountdown1.3.js"></script>
                        <script src="http://jm-bookshop.demo.joomlart.com/skin/frontend/default/jm_book/joomlart/jmslideshow/js/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
                        <script type="text/javascript" src="js/jquery.hrzAccordion.js"></script>
                        <script type="text/javascript">
                           jQuery('.contentdealContainer').css({"width":"538px","opacity":"1"}
                                                              );

                           jQuery(document).ready(function(){
                             jQuery("#deal-accordion").hrzAccordion(
                               {
                                 eventTrigger : "mouseover",
                                 auto : "false",
                                 containerClass : "container-deal",
                                 listItemClass : "li-item",
                                 contentWrapper : "contentdeal",
                                 contentInnerWrapper : "contentdealWrapper",
                                 contentContainerClass : "contentdealContainer",
                                 contentContainerClassSelected : "contentdealSelected",
                                 handleClass : "product-image",
                                 handleClassOver : "product-image-over",
                                 handleClassSelected : "product-image-selected",
                                 handlePosition : "left",
                                 openOnLoad : 1
                               }
                             );
                           }
                                                 );
                        </script>
                        <div class="clearfix">
                        </div>
                        <div class="jm-home-product-deals grid clearfix block">
                           <div class="page-title">
                              <h1>
                                 Deals of the week
                              </h1>
                              <a href="http://jm-bookshop.demo.joomlart.com/deals/" title="">
                              See more
                              </a>
                           </div>
                           <div class="listing-type-grid category-products">
                              <div class="container-deal">
                                 <ul class="products-grid last even" id="deal-accordion">
                                    <li class="li-item" id="deal-accordionListItem0">
                                       <div rel="deal-accordionHandleSelected" class="product-image product-image-selected" id="deal-accordionHandle0">
                                          <div class="inner">
                                             <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContentItem"/>
                                             <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContentItem"/>
                                             <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContentItem"/>
                                             <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContentItem"/>
                                             <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContentItem"/>
                                             <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContentItem"/>
                                             <strong class="discount">
                                             7 %
                                             </strong>
                                          </div>
                                       </div>
                                       <div rel="" style="width: 538px; opacity: 1;" class="" id="first-containnor">
                                          <div style="width: 538px;" class="contentdeal">
                                             <div class="contentdealWrapper">
                                                <div class="product-information">
                                                   <div class="inner">
                                                      <h2 class="product-name">
                                                         <a title="A Memory of Light (Wheel of Time)" href="http://jm-bookshop.demo.joomlart.com/a-memory-of-light-wheel-of-time.html">
                                                         A Memory of Light (Wheel of Time)
                                                         </a>
                                                      </h2>
                                                      <div class="author">
                                                         Brandon Sanderson
                                                      </div>
                                                      <div class="ratings">
                                                         <div class="rating-box">
                                                            <div class="rating">
                                                            </div>
                                                         </div>
                                                         <p class="rating-links">
                                                            <a href="http://jm-bookshop.demo.joomlart.com/review/product/list/id/3/">
                                                            0 Review
                                                            </a>
                                                            <span class="separator">
                                                            |
                                                            </span>
                                                            <a href="http://jm-bookshop.demo.joomlart.com/review/product/list/id/3/#review-form">
                                                            Add Your Review
                                                            </a>
                                                         </p>
                                                      </div>
                                                      <div class="deals-info">
                                                         <div class="old-price">
                                                            <strong>
                                                            Price
                                                            </strong>
                                                            <div class="price-box">
                                                               <p class="old-price">
                                                                  <span class="price-label">
                                                                  Regular Price:
                                                                  </span>
                                                                  <span class="price" id="old-price-3_jmproduct_1994235293">
                                                                  $15.00
                                                                  </span>
                                                               </p>
                                                               <p class="special-price">
                                                                  <span class="price-label">
                                                                  Special Price
                                                                  </span>
                                                                  <span class="price" id="product-price-3_jmproduct_1994235293">
                                                                  $14.00
                                                                  </span>
                                                               </p>
                                                            </div>
                                                         </div>
                                                         <div class="deal-price">
                                                            <strong>
                                                            Deal Price
                                                            </strong>
                                                            <div class="price-box">
                                                               <p class="old-price">
                                                                  <span class="price-label">
                                                                  Regular Price:
                                                                  </span>
                                                                  <span class="price" id="old-price-3_jmproduct_1573235140">
                                                                  $15.00
                                                                  </span>
                                                               </p>
                                                               <p class="special-price">
                                                                  <span class="price-label">
                                                                  Special Price
                                                                  </span>
                                                                  <span class="price" id="product-price-3_jmproduct_1573235140">
                                                                  $14.00
                                                                  </span>
                                                               </p>
                                                            </div>
                                                         </div>
                                                         <script type="text/javascript">
                                                            jQuery('#first-containnor').css({"width":"538px","opacity":"1"}
                                                                                           );




                                                            jQuery(document).ready(function() {
                                                              jQuery("#sale-ends3").countdown({
                                                                date: "october 31, 2018", //Counting TO a date
                                                                cdate:"july 01, 2014 22:26:33",
                                                                updateTime: 999,
                                                                htmlTemplate: "%{d} <span class=\"cd-time\">days</span> %{h}<span class=\"cd-time\">:</span> %{m}<span class=\"cd-time\">:</span> %{s}",
                                                                //date: "july 1, 2011 19:24", //Counting TO a date
                                                                onChange: function( event, timer ){
                                                                }
                                                                ,
                                                                onComplete: function( event ){

                                                                  jQuery(this).html("Completed");
                                                                }
                                                                ,
                                                                leadingZero: true,
                                                                direction: "down"
                                                              }
                                                                                             );
                                                            }
                                                                                  );
                                                         </script>
                                                         <div class="time-left">
                                                            <strong>
                                                            Time left:
                                                            </strong>
                                                            <strong class="sale-ends" id="sale-ends3">
                                                            1581
                                                            <span class="cd-time">
                                                            days
                                                            </span>
                                                            23
                                                            <span class="cd-time">
                                                            :
                                                            </span>
                                                            23
                                                            <span class="cd-time">
                                                            :
                                                            </span>
                                                            41
                                                            </strong>
                                                         </div>
                                                         <div class="save-moneys">
                                                            <div class="save-money">
                                                               <strong>
                                                               Save
                                                               </strong>
                                                               <br>
                                                               <strong class="save">
                                                               $1
                                                               </strong>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="clearer">
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </li>
                                    <li class="li-item" id="deal-accordionListItem1">
                                       <div rel="" class="product-image" id="deal-accordionHandle1">
                                          <div class="inner">
                                             <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContentItem"/>
                                             <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContentItem"/>
                                             <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContentItem"/>
                                             <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContentItem"/>
                                             <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContentItem"/>
                                             <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContentItem"/>
                                             <strong class="discount">
                                             8 %
                                             </strong>
                                          </div>
                                       </div>
                                       <div style="width: 0px; opacity: 0;" rel="" class="contentdealContainer" id="">
                                          <div style="width: 538px;" class="contentdeal">
                                             <div class="contentdealWrapper">
                                                <div class="product-information">
                                                   <div class="inner">
                                                      <h2 class="product-name">
                                                         <a title="Cook Book" href="http://jm-bookshop.demo.joomlart.com/the-liberty-amendments-restoring-the-american-republic.html">
                                                         Cook Book
                                                         </a>
                                                      </h2>
                                                      <div class="author">
                                                         Mark Levin
                                                      </div>
                                                      <div class="ratings">
                                                         <div class="rating-box">
                                                            <div class="rating">
                                                            </div>
                                                         </div>
                                                         <p class="rating-links">
                                                            <a href="http://jm-bookshop.demo.joomlart.com/review/product/list/id/14/">
                                                            0 Review
                                                            </a>
                                                            <span class="separator">
                                                            |
                                                            </span>
                                                            <a href="http://jm-bookshop.demo.joomlart.com/review/product/list/id/14/#review-form">
                                                            Add Your Review
                                                            </a>
                                                         </p>
                                                      </div>
                                                      <div class="deals-info">
                                                         <div class="old-price">
                                                            <strong>
                                                            Price
                                                            </strong>
                                                            <div class="price-box">
                                                               <p class="old-price">
                                                                  <span class="price-label">
                                                                  Regular Price:
                                                                  </span>
                                                                  <span class="price" id="old-price-14_jmproduct_731744273">
                                                                  $36.00
                                                                  </span>
                                                               </p>
                                                               <p class="special-price">
                                                                  <span class="price-label">
                                                                  Special Price
                                                                  </span>
                                                                  <span class="price" id="product-price-14_jmproduct_731744273">
                                                                  $33.00
                                                                  </span>
                                                               </p>
                                                            </div>
                                                         </div>
                                                         <div class="deal-price">
                                                            <strong>
                                                            Deal Price
                                                            </strong>
                                                            <div class="price-box">
                                                               <p class="old-price">
                                                                  <span class="price-label">
                                                                  Regular Price:
                                                                  </span>
                                                                  <span class="price" id="old-price-14_jmproduct_1879899320">
                                                                  $36.00
                                                                  </span>
                                                               </p>
                                                               <p class="special-price">
                                                                  <span class="price-label">
                                                                  Special Price
                                                                  </span>
                                                                  <span class="price" id="product-price-14_jmproduct_1879899320">
                                                                  $33.00
                                                                  </span>
                                                               </p>
                                                            </div>
                                                         </div>
                                                         <script type="text/javascript">
                                                            jQuery(document).ready(function() {
                                                              jQuery("#sale-ends14").countdown({
                                                                date: "december 30, 2017", //Counting TO a date
                                                                cdate:"july 01, 2014 22:26:33",
                                                                updateTime: 999,
                                                                htmlTemplate: "%{d} <span class=\"cd-time\">days</span> %{h}<span class=\"cd-time\">:</span> %{m}<span class=\"cd-time\">:</span> %{s}",
                                                                //date: "july 1, 2011 19:24", //Counting TO a date
                                                                onChange: function( event, timer ){
                                                                }
                                                                ,
                                                                onComplete: function( event ){

                                                                  jQuery(this).html("Completed");
                                                                }
                                                                ,
                                                                leadingZero: true,
                                                                direction: "down"
                                                              }
                                                                                              );
                                                            }
                                                                                  );
                                                         </script>
                                                         <div class="time-left">
                                                            <strong>
                                                            Time left:
                                                            </strong>
                                                            <strong class="sale-ends" id="sale-ends14">
                                                            1276
                                                            <span class="cd-time">
                                                            days
                                                            </span>
                                                            23
                                                            <span class="cd-time">
                                                            :
                                                            </span>
                                                            23
                                                            <span class="cd-time">
                                                            :
                                                            </span>
                                                            41
                                                            </strong>
                                                         </div>
                                                         <div class="save-moneys">
                                                            <div class="save-money">
                                                               <strong>
                                                               Save
                                                               </strong>
                                                               <br>
                                                               <strong class="save">
                                                               $3
                                                               </strong>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="clearer">
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </li>
                                    <li class="li-item" id="deal-accordionListItem2">
                                       <div rel="" class="product-image" id="deal-accordionHandle2">
                                          <div class="inner">
                                             <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContentItem"/>
                                             <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContentItem"/>
                                             <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContentItem"/>
                                             <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContentItem"/>
                                             <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContentItem"/>
                                             <img src="./images/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContentItem"/>
                                             <strong class="discount">
                                             12 %
                                             </strong>
                                          </div>
                                       </div>
                                       <div rel="" class="contentdealContainer" id="deal-accordionContent2">
                                          <div style="width: 538px;" class="contentdeal">
                                             <div class="contentdealWrapper">
                                                <div class="product-information">
                                                   <div class="inner">
                                                      <h2 class="product-name">
                                                         <a title="Vacation" href="http://jm-bookshop.demo.joomlart.com/vacation.html">
                                                         Vacation
                                                         </a>
                                                      </h2>
                                                      <div class="author">
                                                         Matthew Costello MCV11
                                                      </div>
                                                      <div class="ratings">
                                                         <div class="rating-box">
                                                            <div class="rating" style="width:93%">
                                                            </div>
                                                         </div>
                                                         <p class="rating-links">
                                                            <a href="http://jm-bookshop.demo.joomlart.com/review/product/list/id/2/">
                                                            1 Reviews
                                                            </a>
                                                            <span class="separator">
                                                            |
                                                            </span>
                                                            <a href="http://jm-bookshop.demo.joomlart.com/review/product/list/id/2/#review-form">
                                                            Add Your Review
                                                            </a>
                                                         </p>
                                                      </div>
                                                      <div class="deals-info">
                                                         <div class="old-price">
                                                            <strong>
                                                            Price
                                                            </strong>
                                                            <div class="price-box">
                                                               <p class="old-price">
                                                                  <span class="price-label">
                                                                  Regular Price:
                                                                  </span>
                                                                  <span class="price" id="old-price-2_jmproduct_566209896">
                                                                  $25.00
                                                                  </span>
                                                               </p>
                                                               <p class="special-price">
                                                                  <span class="price-label">
                                                                  Special Price
                                                                  </span>
                                                                  <span class="price" id="product-price-2_jmproduct_566209896">
                                                                  $22.00
                                                                  </span>
                                                               </p>
                                                            </div>
                                                         </div>
                                                         <div class="deal-price">
                                                            <strong>
                                                            Deal Price
                                                            </strong>
                                                            <div class="price-box">
                                                               <p class="old-price">
                                                                  <span class="price-label">
                                                                  Regular Price:
                                                                  </span>
                                                                  <span class="price" id="old-price-2_jmproduct_725652743">
                                                                  $25.00
                                                                  </span>
                                                               </p>
                                                               <p class="special-price">
                                                                  <span class="price-label">
                                                                  Special Price
                                                                  </span>
                                                                  <span class="price" id="product-price-2_jmproduct_725652743">
                                                                  $22.00
                                                                  </span>
                                                               </p>
                                                            </div>
                                                         </div>
                                                         <script type="text/javascript">
                                                            jQuery(document).ready(function() {
                                                              jQuery("#sale-ends2").countdown({
                                                                date: "october 31, 2023", //Counting TO a date
                                                                cdate:"july 01, 2014 22:26:33",
                                                                updateTime: 999,
                                                                htmlTemplate: "%{d} <span class=\"cd-time\">days</span> %{h}<span class=\"cd-time\">:</span> %{m}<span class=\"cd-time\">:</span> %{s}",
                                                                //date: "july 1, 2011 19:24", //Counting TO a date
                                                                onChange: function( event, timer ){
                                                                }
                                                                ,
                                                                onComplete: function( event ){

                                                                  jQuery(this).html("Completed");
                                                                }
                                                                ,
                                                                leadingZero: true,
                                                                direction: "down"
                                                              }
                                                                                             );
                                                            }
                                                                                  );
                                                         </script>
                                                         <div class="time-left">
                                                            <strong>
                                                            Time left:
                                                            </strong>
                                                            <strong class="sale-ends" id="sale-ends2">
                                                            3407
                                                            <span class="cd-time">
                                                            days
                                                            </span>
                                                            23
                                                            <span class="cd-time">
                                                            :
                                                            </span>
                                                            23
                                                            <span class="cd-time">
                                                            :
                                                            </span>
                                                            41
                                                            </strong>
                                                         </div>
                                                         <div class="save-moneys">
                                                            <div class="save-money">
                                                               <strong>
                                                               Save
                                                               </strong>
                                                               <br>
                                                               <strong class="save">
                                                               $3
                                                               </strong>
                                                            </div>
                                                         </div>
                                                      </div>
                                                      <div class="clearer">
                                                      </div>
                                                   </div>
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </li>
                                 </ul>
                              </div>
                              <script type="text/javascript">
                                 decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])
                              </script>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- //TOP SPOTLIGHT 3 -->
                  <!-- //TOP SPOTLIGHT 3 -->
                  <div id="jm-mass-top" class="jm-mass-top clearfix">
                     <div class="col1-set">
                        <p>
                           <img src="http://jm-bookshop.demo.joomlart.com/media/wysiwyg/banner/banner01.jpg" alt="Book">
                        </p>
                     </div>
                  </div>
                  <!-- //TOP SPOTLIGHT 3 -->
                  <!-- MASS Head -->
                  <!-- primary content -->
                  <div class="std">
                     <div class="home-product-list">
                        <div class="toolbar">
                           <p class="view-mode">
                              <label>
                              View as:
                              </label>
                              <span class="ico-outer active">
                              <i class="icon-th-large">
                              </i>
                              </span>
                              <a href="http://jm-bookshop.demo.joomlart.com/home?mode=list" title="List" class="list">
                              <span class="ico-outer">
                              <i class="icon-th-list">
                              </i>
                              </span>
                              </a>
                           </p>
                           <div class="limiter">
                              <label>
                              Show:
                              </label>
                              <div class="select-box">
                                 <div class="sub-select-box">
                                    <select onChange="setLocation(this.value)">
                                       <option value="http://jm-bookshop.demo.joomlart.com/home?limit=15" selected="selected">
                                          15
                                       </option>
                                    </select>
                                 </div>
                              </div>
                              per page
                           </div>
                           <div class="sort-by">
                              <label>
                              Sort By:
                              </label>
                              <div class="select-box">
                                 <div class="sub-select-box">
                                    <select onChange="setLocation(this.value)">
                                       <option value="http://jm-bookshop.demo.joomlart.com/home?dir=asc&amp;order=position" selected="selected">
                                          Position
                                       </option>
                                       <option value="http://jm-bookshop.demo.joomlart.com/home?dir=asc&amp;order=name">
                                          Name
                                       </option>
                                       <option value="http://jm-bookshop.demo.joomlart.com/home?dir=asc&amp;order=price">
                                          Price
                                       </option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- // primary content -->
               </div>
            </div>
         </div>
         <!-- END: CONTENT -->
         <!-- BEGIN: COLUMN 1 -->
         <div style="" id="jm-col1" class="col-left side-col">
            <div class="inner linner clearfix">
               <div class="block block-layered-nav">
                  <div class="block-title">
                     <strong>
                     <span>
                     Browse books
                     </span>
                     </strong>
                  </div>
                  <div class="block-content">
                     <p class="block-subtitle">
                        Shopping Options
                     </p>
                     <dl id="narrow-by-list">
                        <dt class="odd">
                           Category
                        </dt>
                        <dd class="odd">
                           <ol>
                              <li>
                                 <a href="">
                                 Books
                                 </a>
                              </li>
                              <li>
                                 <a href="">
                                 Staff Picks
                                 </a>
                              </li>
                              <li>
                                 <a href="">
                                 Nook books
                                 </a>
                              </li>
                              <li>
                                 <a href="">
                                 Teens
                                 </a>
                              </li>
                              <li>
                                 <a href="">
                                 Kids
                                 </a>
                              </li>
                              <li>
                                 <a href="">
                                 Gift Cards
                                 </a>
                              </li>
                              <li>
                                 <a href="">
                                 Hot Books
                                 </a>
                              </li>
                              <li>
                                 <a href="">
                                 Best sellers
                                 </a>
                              </li>
                           </ol>
                        </dd>
                     </dl>
                     <script type="text/javascript">
                        decorateDataList('narrow-by-list')
                     </script>
                  </div>
               </div>
            </div>
         </div>
         <!-- END: COLUMN 1 -->
      </div>
   </div>
</div>
