<div class="main col1-set">
            <div  class="inner clearfix" style="height:904px;">
               <div class="box jm-tabs">
                  <div>
                     <div class="jm-tabswrap jm-animation-fadeIn blank">
                        <div class="container">
                           <div class="tabs_content">
                              <div class="jm-tab-panels-top">
                                 <div  class="jm-tab-content">
                                    <div class="jm-tab-subcontent">
                                       <div class="block jm-products-slider-listing">
                                          <div class="jm-products-slider-content clearfix block-content">
                                             <div class="jm-slider">
                                                <ul class="jm-slider-ul products-grid first odd">
                                                   <li class="jm-slider-li item" style=" width:260px; height:410px; margin-bottom:20px;">
                                                      <div class="item-slider">
                                                         <div class="product-image">
                                                            <a href="" class="product-img">
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            </a>
                                                            <div class="actions">
                                                            </div>
                                                         </div>
                                                         <div class="product-name">
                                                            <a href="" title="Top Secret  Destinations" class="product-title">Top Secret  Des...</a>
                                                         </div>
                                                         <div class="author">Mary Higgins Clark</div>
                                                         <div class="ratings">
                                                            <div class="rating-box">
                                                               <div class="rating"></div>
                                                            </div>
                                                            <p class="rating-links">
                                                               <a href="">0 Review</a>
                                                               <span class="separator">|</span>
                                                               <a href="">Add Your Review</a>
                                                            </p>
                                                         </div>
                                                         <div class="price-box">
                                                            <span id="product-price-12_jmslider" class="regular-price">
                                                            <span class="price">$30.00</span>
                                                            </span>
                                                         </div>
                                                         <div class="add-to-links">
                                                            <div>
                                                               <a class="link-wishlist" href="">
                                                               Wishlist
                                                               </a>
                                                            </div>
                                                            <div>
                                                               <a class="link-compare" href="/">Compare</a>
                                                            </div>
                                                         </div>
                                                         <div class="add-to-cart">
                                                            <button onClick="" class="button btn-cart" title="" type="button">
                                                            <span>
                                                            <span>
                                                            <i class="icon-shopping-cart"></i>Add to Cart
                                                            </span>
                                                            </span>
                                                            </button>
                                                         </div>
                                                      </div>
                                                   </li>
                                                   <li class="jm-slider-li item" style=" width:260px; height:410px; margin-bottom:20px">
                                                      <div class="item-slider">
                                                         <div class="product-image">
                                                            <a href="" class="product-img">
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            </a>
                                                            <div class="actions">
                                                            </div>
                                                         </div>
                                                         <div class="product-name">
                                                            <a href="" title="Top Secret  Destinations" class="product-title">Top Secret  Des...</a>
                                                         </div>
                                                         <div class="author">Mary Higgins Clark</div>
                                                         <div class="ratings">
                                                            <div class="rating-box">
                                                               <div class="rating"></div>
                                                            </div>
                                                            <p class="rating-links">
                                                               <a href="">0 Review</a>
                                                               <span class="separator">|</span>
                                                               <a href="">Add Your Review</a>
                                                            </p>
                                                         </div>
                                                         <div class="price-box">
                                                            <span id="product-price-12_jmslider" class="regular-price">
                                                            <span class="price">$30.00</span>
                                                            </span>
                                                         </div>
                                                         <div class="add-to-links">
                                                            <div>
                                                               <a class="link-wishlist" href="">
                                                               Wishlist
                                                               </a>
                                                            </div>
                                                            <div>
                                                               <a class="link-compare" href="/">Compare</a>
                                                            </div>
                                                         </div>
                                                         <div class="add-to-cart">
                                                            <button onClick="" class="button btn-cart" title="" type="button">
                                                            <span>
                                                            <span>
                                                            <i class="icon-shopping-cart"></i>Add to Cart
                                                            </span>
                                                            </span>
                                                            </button>
                                                         </div>
                                                      </div>
                                                   </li>
                                                   <li class="jm-slider-li item" style=" width:260px; height:410px; margin-bottom:20px;">
                                                      <div class="item-slider">
                                                         <div class="product-image">
                                                            <a href="" class="product-img">
                                                               <div style=" margin:0 auto; width:170px; height:240px;">
                                                                  <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent" style=" width:48%;" />
                                                                  <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent" style=" width:48%;" />
                                                                  <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent" style=" width:48%;"  />
                                                                  <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent" style=" width:48%;" />
                                                               </div>
                                                            </a>
                                                            <div class="actions">
                                                            </div>
                                                         </div>
                                                         <div class="product-name">
                                                            <a href="" title="Top Secret  Destinations" class="product-title">Top Secret  Des...</a>
                                                         </div>
                                                         <div class="author">Mary Higgins Clark</div>
                                                         <div class="ratings">
                                                            <div class="rating-box">
                                                               <div class="rating"></div>
                                                            </div>
                                                            <p class="rating-links">
                                                               <a href="">0 Review</a>
                                                               <span class="separator">|</span>
                                                               <a href="">Add Your Review</a>
                                                            </p>
                                                         </div>
                                                         <div class="price-box">
                                                            <span id="product-price-12_jmslider" class="regular-price">
                                                            <span class="price">$30.00</span>
                                                            </span>
                                                         </div>
                                                         <div class="add-to-links">
                                                            <div>
                                                               <a class="link-wishlist" href="">
                                                               Wishlist
                                                               </a>
                                                            </div>
                                                            <div>
                                                               <a class="link-compare" href="/">Compare</a>
                                                            </div>
                                                         </div>
                                                         <div class="add-to-cart">
                                                            <button onClick="" class="button btn-cart" title="" type="button">
                                                            <span>
                                                            <span>
                                                            <i class="icon-shopping-cart"></i>Add to Cart
                                                            </span>
                                                            </span>
                                                            </button>
                                                         </div>
                                                      </div>
                                                   </li>
                                                   <li class="jm-slider-li item" style=" width:260px; height:410px; margin-bottom:20px;">
                                                      <div class="item-slider">
                                                         <div class="product-image">
                                                            <a href="" class="product-img">
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            </a>
                                                            <div class="actions">
                                                            </div>
                                                         </div>
                                                         <div class="product-name">
                                                            <a href="" title="Top Secret  Destinations" class="product-title">Top Secret  Des...</a>
                                                         </div>
                                                         <div class="author">Mary Higgins Clark</div>
                                                         <div class="ratings">
                                                            <div class="rating-box">
                                                               <div class="rating"></div>
                                                            </div>
                                                            <p class="rating-links">
                                                               <a href="">0 Review</a>
                                                               <span class="separator">|</span>
                                                               <a href="">Add Your Review</a>
                                                            </p>
                                                         </div>
                                                         <div class="price-box">
                                                            <span id="product-price-12_jmslider" class="regular-price">
                                                            <span class="price">$30.00</span>
                                                            </span>
                                                         </div>
                                                         <div class="add-to-links">
                                                            <div>
                                                               <a class="link-wishlist" href="">
                                                               Wishlist
                                                               </a>
                                                            </div>
                                                            <div>
                                                               <a class="link-compare" href="/">Compare</a>
                                                            </div>
                                                         </div>
                                                         <div class="add-to-cart">
                                                            <button onClick="" class="button btn-cart" title="" type="button">
                                                            <span>
                                                            <span>
                                                            <i class="icon-shopping-cart"></i>Add to Cart
                                                            </span>
                                                            </span>
                                                            </button>
                                                         </div>
                                                      </div>
                                                   </li>
                                                   <li class="jm-slider-li item" style=" width:260px; height:410px; margin-bottom:20px;">
                                                      <div class="item-slider">
                                                         <div class="product-image">
                                                            <a href="" class="product-img">
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            </a>
                                                            <div class="actions">
                                                            </div>
                                                         </div>
                                                         <div class="product-name">
                                                            <a href="" title="Top Secret  Destinations" class="product-title">Top Secret  Des...</a>
                                                         </div>
                                                         <div class="author">Mary Higgins Clark</div>
                                                         <div class="ratings">
                                                            <div class="rating-box">
                                                               <div class="rating"></div>
                                                            </div>
                                                            <p class="rating-links">
                                                               <a href="">0 Review</a>
                                                               <span class="separator">|</span>
                                                               <a href="">Add Your Review</a>
                                                            </p>
                                                         </div>
                                                         <div class="price-box">
                                                            <span id="product-price-12_jmslider" class="regular-price">
                                                            <span class="price">$30.00</span>
                                                            </span>
                                                         </div>
                                                         <div class="add-to-links">
                                                            <div>
                                                               <a class="link-wishlist" href="">
                                                               Wishlist
                                                               </a>
                                                            </div>
                                                            <div>
                                                               <a class="link-compare" href="/">Compare</a>
                                                            </div>
                                                         </div>
                                                         <div class="add-to-cart">
                                                            <button onClick="" class="button btn-cart" title="" type="button">
                                                            <span>
                                                            <span>
                                                            <i class="icon-shopping-cart"></i>Add to Cart
                                                            </span>
                                                            </span>
                                                            </button>
                                                         </div>
                                                      </div>
                                                   </li>
                                                   <li class="jm-slider-li item" style=" width:260px; height:410px; margin-bottom:20px">
                                                      <div class="item-slider">
                                                         <div class="product-image">
                                                            <a href="" class="product-img">
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            </a>
                                                            <div class="actions">
                                                            </div>
                                                         </div>
                                                         <div class="product-name">
                                                            <a href="" title="Top Secret  Destinations" class="product-title">Top Secret  Des...</a>
                                                         </div>
                                                         <div class="author">Mary Higgins Clark</div>
                                                         <div class="ratings">
                                                            <div class="rating-box">
                                                               <div class="rating"></div>
                                                            </div>
                                                            <p class="rating-links">
                                                               <a href="">0 Review</a>
                                                               <span class="separator">|</span>
                                                               <a href="">Add Your Review</a>
                                                            </p>
                                                         </div>
                                                         <div class="price-box">
                                                            <span id="product-price-12_jmslider" class="regular-price">
                                                            <span class="price">$30.00</span>
                                                            </span>
                                                         </div>
                                                         <div class="add-to-links">
                                                            <div>
                                                               <a class="link-wishlist" href="">
                                                               Wishlist
                                                               </a>
                                                            </div>
                                                            <div>
                                                               <a class="link-compare" href="/">Compare</a>
                                                            </div>
                                                         </div>
                                                         <div class="add-to-cart">
                                                            <button onClick="" class="button btn-cart" title="" type="button">
                                                            <span>
                                                            <span>
                                                            <i class="icon-shopping-cart"></i>Add to Cart
                                                            </span>
                                                            </span>
                                                            </button>
                                                         </div>
                                                      </div>
                                                   </li>
                                                   <li class="jm-slider-li item" style=" width:260px; height:410px; margin-bottom:20px;">
                                                      <div class="item-slider">
                                                         <div class="product-image">
                                                            <a href="" class="product-img">
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            </a>
                                                            <div class="actions">
                                                            </div>
                                                         </div>
                                                         <div class="product-name">
                                                            <a href="" title="Top Secret  Destinations" class="product-title">Top Secret  Des...</a>
                                                         </div>
                                                         <div class="author">Mary Higgins Clark</div>
                                                         <div class="ratings">
                                                            <div class="rating-box">
                                                               <div class="rating"></div>
                                                            </div>
                                                            <p class="rating-links">
                                                               <a href="">0 Review</a>
                                                               <span class="separator">|</span>
                                                               <a href="">Add Your Review</a>
                                                            </p>
                                                         </div>
                                                         <div class="price-box">
                                                            <span id="product-price-12_jmslider" class="regular-price">
                                                            <span class="price">$30.00</span>
                                                            </span>
                                                         </div>
                                                         <div class="add-to-links">
                                                            <div>
                                                               <a class="link-wishlist" href="">
                                                               Wishlist
                                                               </a>
                                                            </div>
                                                            <div>
                                                               <a class="link-compare" href="/">Compare</a>
                                                            </div>
                                                         </div>
                                                         <div class="add-to-cart">
                                                            <button onClick="" class="button btn-cart" title="" type="button">
                                                            <span>
                                                            <span>
                                                            <i class="icon-shopping-cart"></i>Add to Cart
                                                            </span>
                                                            </span>
                                                            </button>
                                                         </div>
                                                      </div>
                                                   </li>
                                                   <li class="jm-slider-li item" style=" width:260px; height:410px; margin-bottom:20px;">
                                                      <div class="item-slider">
                                                         <div class="product-image">
                                                            <a href="" class="product-img">
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            <img src="assets/3.jpg" alt="Top Secret  Destinations" class="productImagesClassContent"/>
                                                            </a>
                                                            <div class="actions">
                                                            </div>
                                                         </div>
                                                         <div class="product-name">
                                                            <a href="" title="Top Secret  Destinations" class="product-title">Top Secret  Des...</a>
                                                         </div>
                                                         <div class="author">Mary Higgins Clark</div>
                                                         <div class="ratings">
                                                            <div class="rating-box">
                                                               <div class="rating"></div>
                                                            </div>
                                                            <p class="rating-links">
                                                               <a href="">0 Review</a>
                                                               <span class="separator">|</span>
                                                               <a href="">Add Your Review</a>
                                                            </p>
                                                         </div>
                                                         <div class="price-box">
                                                            <span id="product-price-12_jmslider" class="regular-price">
                                                            <span class="price">$30.00</span>
                                                            </span>
                                                         </div>
                                                         <div class="add-to-links">
                                                            <div>
                                                               <a class="link-wishlist" href="">
                                                               Wishlist
                                                               </a>
                                                            </div>
                                                            <div>
                                                               <a class="link-compare" href="/">Compare</a>
                                                            </div>
                                                         </div>
                                                         <div class="add-to-cart">
                                                            <button onClick="" class="button btn-cart" title="" type="button">
                                                            <span>
                                                            <span>
                                                            <i class="icon-shopping-cart"></i>Add to Cart
                                                            </span>
                                                            </span>
                                                            </button>
                                                         </div>
                                                      </div>
                                                   </li>
                                                </ul>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <style>
            .product-togeter{ width:100%; height:auto ; padding:0 0 0 5px; margin:0;}
            .product-togeter ul{ width:100%; height:auto ; padding:0; margin:0;}
            .product-togeter li.list-Product-item{ float:left; width:280px; height:280px; margin:0 5px 0 5px;}
            .product-togeter li a {float:left; width:280px; height:280px; margin:0 }
            .productImagesClassContent{ width:32%; }
            .productImagesClassContentItem{ width:60px; height:80px; }
            .productImagesClassContent1{ width:47%;  height:47%; }
            #first-containnor{ opcity:1; width:358px;}
         </style>
         <!-- //TOP SPOTLIGHT 2 -->
         <!-- //BOTTOM SPOTLIGHT -->
         <!-- //BOTTOM SPOTLIGHT -->
         <!-- BOTTOM SPOTLIGHT -->



