<div class="block jm-slideshow jm-slideshow-horizontal">
   <div class="jm-slidewrap" id="jm-slide-14042787932091794172370295260" style="visibility: visible;">
      <div style="width: 618px; height: 378px;" class="jm-slide-main-wrap">
         <div class="jm-slide-main">
            <div style="width: 618px; height: 378px; position: absolute; top: 0px; visibility: visible; z-index: 5; left: 0px;" class="jm-slide-item"><img style="height: 378px; width: 818px;" src="http://jm-bookshop.demo.joomlart.com/media/resized/media/jmslideshow/book01_818_378.jpg" alt="" height="378" width="818">                </div>
            <div style="width: 618px; height: 378px; position: absolute; top: 0px; visibility: visible; z-index: 1; left: 0px;" class="jm-slide-item"><img style="height: 378px; width: 818px;" src="http://jm-bookshop.demo.joomlart.com/media/resized/media/jmslideshow/book02_818_378.jpg" alt="" height="378" width="818">                </div>
         </div>
         <div style="display: block; opacity: 0;" class="jm-slide-loader"></div>
         <div style="width: 618px;" class="jm-slide-progress"></div>
         <div class="jm-slide-buttons clearfix">
            <span class="jm-slide-prev"><i class="icon-chevron-left"></i></span>
            <span class="jm-slide-next"><i class="icon-chevron-right"></i></span>
         </div>
      </div>
      <div style="display: block; position: absolute; width: 300px; height: 200px; bottom: 0px; left: 0px; opacity: 1; margin-top: 0px;" class="jm-mask-desc jm-mask-pos-bl">
         <div class="jm-slide-desc">
            <span class="title">Sherlock Holmes Collection - 3 Books</span><span class="desc">The Hound of the Baskervilles
            <br>The Adventures of Sherlock Holmes
            <br>A Study in Scarlet</span>
            <div class="readmore"><a title="" class="readon" href="">View more</a></div>
         </div>
      </div>
      <div class="jm-slide-descs">
      </div>
   </div>
</div>